body {
	font-family: Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
}

.unit-article header {
	background-color: #FF9900;
}

h2 {
	font-size: 32px;
	line-height: 52px;
	border-left: #FF9900 6px solid;
	padding-left: 16px;
}

pre {
	padding: 18px 12px;
}

.center {
	text-align: center;
}

.indent {
	margin-left: 48px;
}

ul, ol {
	margin-left: 24px;
}

.body a:link, .body .unit-article .entry-content h3 a:link {
	color: #4183c4;
}

.logo a {
	color: #2d2d2d;
}