body,
h1, h2, h3, h4, h5, h6,
.the-header .logo {
	font-family: Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
}

.unit-article header {
	background-color: #FF9900;
}

h2 {
	font-size: 2em;
	line-height: 52px;
	border-left: #FF9900 6px solid;
	padding-left: .5em;
}

h3 {
	font-size: 1.3em;
	border-left: #FF9900 5px solid;
	padding: .3em .5em;
	border-bottom: #FF9900 2px solid;
}

pre {
	padding: 8px 12px;
	margin: 8px 0px 26px;
	white-space: pre;
	word-wrap: normal;
}

pre code {
	font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
	font-size: .8em;
	line-height: 1em;
}

.unit-article p code, .unit-article li code {
	margin: 0;
}

.center {
	text-align: center;
}

.indent {
	margin-left: 48px;
}

ul, ol {
	margin-left: 24px;
}

.unit-article ul > li > ul {
	margin-bottom: 0px;
}

ul ul, ol ul {
	margin-bottom: 0;
}

.unit-article li ul,
.unit-article li ol {
	margin-left: 16px;
}

.unit-article li {
	list-style-type: disc;
}

.unit-article li li {
	list-style-type: circle;
}

.unit-article li li li {
	list-style-type: square;
}

.unit-article ol > li {
	list-style-type: decimal;
}

.body a:link, .body .unit-article .entry-content h3 a:link {
	color: #4183c4;
}

.logo a {
	color: #2d2d2d;
}

a:visited {
	color: darkslateblue;
}

.caution {
	color: red;
	font-weight: bold;
}

@media all and (max-width: 768px) {
	.the-header .logo a,
	.entry-title {
		font-size: 1.5em;
		line-height: 1.8em;
	}

	.nav-global li {
		display: inline-block;
		font-size: .8em;
	}

	.the-header .unit-inner {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: .5em;
		margin-bottom: .5em;
	}

	.unit-article header {
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.unit-article .unit-head-inner,
	.unit-article .entry-content,
	.unit-article .misc-content,
	.unit-article .unit-foot-inner {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}
}